@import url('https://fonts.googleapis.com/css?family=Roboto|Quicksand|Open+Sans');
body {
	width: 100%; min-height: 100%;
	margin: 0;
	background: #141414;

	font-family: 'Open Sans', sans-serif;
	color: #f3f3f3;
}
#window {
	position: absolute;
	z-index: 1;
	width: 800px; height: 600px;
	top: calc(50% - 600px/2); left: calc(50% - 800px/2);
	background: linear-gradient(to top right, #212121, #2a2a2a);
	border-radius: 4px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.28);
}
.topbar {
	width: 100%; height: 75px;
	background: linear-gradient(to top right, #191919, #232323); 
}
.topbar input {
	width: 40%; height: calc(100% - 40px);
	margin: 20px 30px;
	padding-bottom: 3px;
	border: 0; background: 0;
	border-bottom: #757575 1px solid;
	box-sizing: border-box;

	font-size: 20px;
	/*font-family: 'Roboto', sans-serif;*/
	color: #757575;

	transition: all 0.2s ease;
} .topbar input:focus,
.topbar input:active {
	color: #f3f3f3;
	border-bottom: #f3f3f3 2px solid;
	outline: none;
}
.brand {
	position: absolute;
	top: 10px; right: 5px;
	width: 100px; height: 20px;

	background-image: url(images/facade-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	filter: grayscale(50%) brightness(70%);
	transition: filter 0.2s ease;
} .brand:hover,
.brand:focus,
.brand:active {
	filter: none;
}
.content-wrapper {
	display: inline-block;
	visibility: hidden;
	width: 100%; height: calc(100% - 75px);
	/*padding:  15px 25px;*/
	box-sizing: border-box;
}
.preloader {
	visibility: hidden;
	position: absolute;
	width: 32px; height: 32px;
	top: calc(50% - 16px);
	left: calc(50% - 16px);
}
.bar {
  float: left;
  background-color: #757575;
  width: 23%; height: 100%;
  margin: 0;
  
  transition: transform 0.2s linear;
  animation-name: grow;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
.bar:nth-child(2) {
  animation-delay: 0.3s;
}
.bar:nth-child(3) {
  animation-delay: 0.6s;
}
.bar:not(:last-child) {
  margin-right: 15.5%;
}
@keyframes grow {
  37.5% {
    transform: scale(1.1);
    background-color: #a8a8a8;
  }
  75% {
    transform: scale(1);
    background-color: #757575;
  }
}
.content-wrapper .header {
	margin: 0;
	margin-bottom: 15px;
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #aeaeae;
}
.logger.info {
	width: 100%; height: 75px;
	padding: 15px 25px;
	box-sizing: border-box;
}
.logger.info .copy-icon {
	display: inline-block;
	position: relative;
	top: 2px; left: 1px;
	width: 16px; height: 16px;
	background-image: url(images/copy-white.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	cursor: pointer;

	transition: filter 0.15s ease;
}
.logger.info .copy-icon:hover {
	filter: brightness(70%);
}
.logger.info .copy-tooltip {
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	transition: all 0.7s ease;

	position: relative;
	left: 5px;
	padding: 2px 5px;
	border-radius: 4px;
	font-size: 12px;
}
.logger.info .copy-tooltip.visible {
	visibility: visible;
	opacity: 1;
	transition: all 0.15s ease;
}
.log.info {
	position: relative;
	width: 100%; height: calc(100% - 75px);
	padding: 15px 25px;
	box-sizing: border-box;
	overflow-y: auto;
}
.log.info .trash-icon,
.log.info .refresh-icon {
	display: inline-block;
	margin-left: 3px;
	position: relative;
	top: 2px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	transition: filter 0.15s ease;
	cursor: pointer;
} 
.log.info .trash-icon {
	width: 16px; height: 16px;
	background-image: url(images/trash-grey.png);
}
.log.info .refresh-icon {
	width: 14px; height: 14px;
	background-image: url(images/refresh-grey.png);
}
.log.info .trash-icon:hover,
.log.info .refresh-icon:hover {
	filter: brightness(0.7);
}
.log.info th {
	text-align: left;
}
.log.info table tr * {
	box-sizing: border-box;
	padding: 3px;
}
.log.info table tbody tr {
	cursor: pointer;

	transition: all 0.15s ease;
}
.log.info table tbody tr:hover {
	filter: brightness(70%);
}
.ip.info {
	display: none;
	position: absolute;
	z-index: 2;
	top: calc(50% - 200px);
	left: calc(50% - 250px);
	width: 500px; height: 400px;

	background: linear-gradient(to top right, #191919, #232323);
	border-radius: 4px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.28);
	padding: 7px 0px;
	box-sizing: border-box;
}
.ip.info .close-icon {
	position: absolute;
	top: 12px; right: 12px;
	width: 24px; height: 24px;
	/*background: #ffffff;*/
	background-image: url(images/close-white.png);

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	transition: filter 0.15s ease;

	cursor: pointer;
}
.ip.info .close-icon:hover {
	filter: brightness(70%);
}
.ip.info table * {
	box-sizing: border-box;
	padding: 3px 5px;
}
.ip.info table {
	height: 100%;
}
.ip.info tr {
	height: 11.11%;
}
.ip.info table th {
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #aeaeae;
	font-weight: lighter;
	text-align: right;
	width: 33.33%;
}
.ip.info table td {
	font-family: 'Open Sans', sans-serif;
	width: 50%;
}